*::after, *::before, * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.up_scroll {
    position: fixed;
    right: 5px;
    bottom: 5px;
    border: 1px solid black;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: blue;
    opacity: .4;
    transition: all .1s linear;
    display: none;
    outline: none;
}

.up_scroll:hover {
    cursor: pointer;
    opacity: 1;
    transform: scale(1.01);
}

.calculator {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    z-index: 1000000;
    opacity: .7;
    background-color: black;
}

.calculator_interface {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    flex-direction: column;
    align-items: center;
}

.cancel_btn {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 20px;
    border: 0;
    background-color: black;
    cursor: pointer;
}

.hidden {
    overflow: hidden;
}

.form {
    width: 60%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.borts {
    width: 15%;
    display: flex;
    flex-direction: column;
    color: white;
}

#bort {
    width: 100%;
    outline: none;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 10px;
    height: 30px;
    color: black;
    font-weight: bold;
    background-color: white;
}

.strela {
    width: 15%;
    display: flex;
    flex-direction: column;
    color: white;
}

#strela {
    width: 100%;
    outline: none;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 10px;
    height: 30px;
    color: black;
    font-weight: bold;
    background-color: white;
}

.sliders {
    width: 30%;
    color: white;
}

.sliders p {
    margin-bottom: 20px;
}

.slider {
    width: 100%;
    cursor: pointer;
    position: relative;
}

.slider::after {
    content: '100';
    position: absolute;
    right: 0;
    top: 100%;
    color: white;
}

.slider::before {
    content: '0';
    position: absolute;
    left: 0;
    top: 100%;
    color: white;
}

.price {
    width: 40%;
    position: absolute;
    color: white;
    left: 34%;
    transform: translateX(-34%);
    top: 65%;
    display: flex;
    justify-content: start;
}

/* header */

.header {
    z-index: 1000;
    width: 100%;
    position: absolute;
    top: 30px;
    left: 0;
    transition: background-color .1s linear;
}

.black_header {
    background-color: rgb(208, 208, 208);
    position: fixed;
    left: 0;
    top: 0;
}

.container {
    margin: 0 auto;
    width: 1170px;
}

.header_inner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    line-height: 17px;
}

/* header_logo */

.header_logo {
    width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 17px;
}

.logo {
    width: 50%;
    margin-right: 8px;
}

.header_logo:hover {
    cursor: pointer;
}

.header_logo p {
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: inherit;
}

/* nav */

.nav {
    display: flex;
    justify-content: center;
    width: 55%;
    font-size: 13px;
    font-weight: bold;

}

.burger_nav {
    display: none;
    position: relative;
    width: 100%;
    flex-direction: column;
    font-size: 6px;
    background-color: #262626;
    font-weight: bold;
}

.block {
    display: block;
}

.close_menu {
    width: 10px;
    position: absolute;
    right: 2px;
    cursor: pointer;
    top: 0;
}

.burger_nav_list {
    display: flex;
    flex-direction: column;
}

.burger_nav li {
    list-style: none;
    line-height: 10px;
}

.nav_list {
    margin: 0;
    padding: 0;
    display: flex;
}

.nav_list li {
    list-style: none;
    margin: 0 10px;
}

.list_item {
    display: block;
    position: relative;
    text-decoration: none;
    padding: 5px;
    font-family: sans-serif;
    color: #000;
    position: relative;
    text-transform: uppercase;
    transition: all .1s linear;
}

.white {
    color: #fff;
}

.list_item:hover {
    cursor: pointer;
    color: yellow;
}

.list_item:hover::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    bottom: 0;
    background-color: black;
}

/* header_contacts */

.header_contacts {
    width: 20%;
    display: flex;
    flex-direction: column;
}

.phone_number {
    display: flex;
    justify-content: start;
    padding-top: 20px;
    margin-bottom: 10px;
    font-size: 21px;
    font-weight: bold;
}

/* viber */

.viber {
    width: 24px;
    margin: 0 10px;
}

/* whatsapp */

.whatsapp {
    width: 24px;
}

/* email */

.email {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 10px;
    text-decoration: underline;
}

.email_icon {
    display: none;
}

/* burger_menu */

.burger_menu {
    display: none;
    position: absolute;
    right: 0;
    top: 3px;
}

/* intro */

.intro {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./assets/images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.intro_inner {
    width: 100%;
    padding-top: 200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 20px;
    text-transform: capitalize;
    color: black;
}

.intro_title {
    z-index: 1;
    margin-bottom: 60px;
    font-size: 18px;
    width: 50%;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    flex-direction: column;
    color: #fff;

}

.intro_undertitle {
    z-index: 1;
    font-size: 16px;
    width: 50%;
    display: flex;
    text-align: center;
    flex-direction: column;
    margin-bottom: 60px;
    text-transform: uppercase;
    color: #fff;
}

.calculate {
    z-index: 1;
    width: 150px;
    margin-bottom: 60px;
}

.calc_btn {
    background-color: rgba(240, 240, 240, .7);
    border: 1px solid black;
    border-radius: 10px;
    font-size: 15px;
    padding: 5px 0;
    transition: all .3s linear;
    font-weight: bold;
}

.calc_btn:hover {
    cursor: pointer;
    transform: scale(1.2);
}

/* intro about */

.intro_about {
    width: 100%;
    margin-bottom: 20px;
    margin-top: 200px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.intro_about_item {
    margin-right: 20px;
    width: 14%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.item_icon {
    position: absolute;
    left: 0;
    top: 0;
    width: 30px;
}

.item_text {
    margin-right: 20px;
    padding-top: 50px;
    font-size: 16px;
    color: #fff;
}

/* about */

.about_section {
    width: 100%;
    background-color: lightskyblue;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about_section_inner {
    width: 100%;
    padding-top: 100px;
    padding-bottom: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about_title {
    font-size: 20px;
    color: white;
    margin-bottom: 10px;
}

.about_us {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about_us_text {
    width: 60%;
    font-size: 18px;
    text-align: center;
}

.about_us_text p {
    color: white;
    margin-top: 30px;
}

.contact_us {
    width: 28%;
    display: flex;
    justify-content: center;
    background-color: rgb(236, 236, 52);
}

.contact_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
    width: 100%;
}

.contact_content h2 {
    margin-bottom: 5px;
}

.contact_numbers {
    margin-top: 4px;
    margin-bottom: 20px;
}

.contact_email {
    text-decoration: underline;
    color: blue;
    margin-bottom: 15px;
}

.contact_icons {
    margin-top: 5px;
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.contact_icons img:hover {
    cursor: pointer;
}

/* booking */

.booking_section {
    width: 100%;
    display: flex;
}

.booking_inner {
    padding: 150px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.booking_title {
    margin-bottom: 30px;
    font-size: 18px;
}

.booking_projects {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.booking_item {
    width: 32%;
    display: flex;
    margin-top: 20px;
    margin-right: 10px;
    flex-direction: column;
    align-items: center;
    background-size: #fff;
    box-shadow: 0 0 8px -3px black;
    transition: all .1s linear;
}

.booking_item:hover {
    transform: scale(1.03);
}

.item_img {
    width: 100%;
    margin-bottom: 30px;
}

.item_img img {
    width: 100%;
    height: 200px;
}

.item_name {
    margin-bottom: 70px;
    font-size: 18px;
    font-weight: bold;
}









/* footer */

.footer {
    width: 100%;
    background-color: turquoise;
}

.footer_inner {
    padding: 50px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer_logo {
    width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 17px;
}

.logo {
    width: 50%;
    margin-right: 8px;
}

.footer_logo:hover {
    cursor: pointer;
}

.footer_logo p {
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
}



/**************  Media  *********************/

@media only screen and (max-width: 1450px) {
    .sliders p {
        font-size: 13px;
    }
}

@media only screen and (max-width: 1200px) {
    .sliders p {
        font-size: 15px;
    }
    .container {
        width: 960px;
    }
    .phone_number {
        font-size: 16px;
    }
    .email {
        font-size: 14px;
    }
    .intro_title {
        font-size: 15px;
    }
    .intro_undertitle {
        font-size: 14px;
    }
    .item_text {
        font-size: 14px;
    }
    .about_us_text {
        font-size: 14px;
    }
    
}

@media only screen and (max-width: 1100px) {
    .sliders p {
        font-size: 14px;
    }
}

@media only screen and (max-width: 980px) {
    .sliders {
        width: 43%;
    }

    .sliders p {
        font-size: 13px;
    }
    .borts {
        width: 30%;
        margin-bottom: 20px;
        font-size: 13px;
    }

    .strela {
        width: 30%;
        margin-bottom: 20px;
        font-size: 13px;

    }
    .container {
        width: 760px;
    }
  
    /* header */
    .header_logo {
        font-size: 13px;
    }
    /* nav */
    .nav {
        font-size: 13px;
    }
    /* contacts */
    .phone_number {
        font-size: 12px;
    }
    .viber {
        width: 18px;
    }
    .booking_projects {
        justify-content: space-between;
    }

    .booking_item {
        width: 48%;
    }
    .whatsapp {
        width: 18px;
    }
    .email {
        font-size: 12px;
    }
    /* intro */
    .intro_title {
        width: 60%;
        font-size: 13px;
    }
    .intro_about {
        margin-top: 50px;
    }
    .intro_undertitle {
        width: 60%;
        font-size: 13px;
    }
    .intro_about_item {
        width: 30%;
        margin-bottom: 20px;
    }
    .item_text {
        font-size: 13px;
        padding-top: 30px;
    }
    /* about */
    .about_title {
        font-size: 16px;
    }
    .about_section_inner {
        padding: 50px 0;
    }
    .about_us_text {
        font-size: 12px;
        width: 60%;
    }
    .contact_content h2 {
        font-size: 18px;
    }
    .contact_content p {
        font-size: 14px;
    }
    /* booking */
    .booking_inner {
        padding: 50px 0;
    }
   
    /* footer */
    .footer_logo {
        font-size: 14px;
    }
    
}

@media only screen and (max-width: 780px) {

    .sliders p {
        font-size: 11px;
    }
    .container {
        width: 90%;
    }
    /* header */
    .up_scroll {
        width: 20px;
        height: 20px;
    }
    .header_logo {
        font-size: 11px;
    }
    .nav {
        display: none;
    }
    .header_contacts {
        width: 60%;
        flex-direction: row;
        align-items: center;
    }
    .phone_number {
        margin-bottom: 0;
        padding-top: 5px;
    }
    .email {
        padding-bottom: 0;
        margin-left: 10px;
    }
    .burger_menu {
        display: block;
    }
    .burger_menu button {
        background-color: inherit;
        border: 0;
        outline: none;
    }
    /* intro */
    .intro_inner {
        padding-top: 150px;
    }
    .intro_title {
        font-size: 11px;
    }
    .intro_undertitle {
        font-size: 11px;
    }
    .calc_btn {
        font-size: 14px;
    }
    .intro_about {
        margin-top: 50px;
    }
    
   
    .booking_projects {
        justify-content: space-evenly;
    }
    
   
    
    .footer_inner {
        padding: 20px 0;
    }
   
    /* about */
    .about_us {
        display: flex;
        justify-content: center;
    }
    .about_section_inner {
        padding-bottom: 20px;
        padding-top: 20px;
    }
    .contact_content {
        padding: 10px 0;
    }
    .about_us_text {
        width: 100%;
        margin-bottom: 20px;
    }
    .about_us_text p {
        margin-top: 10px;
    }
    .contact_us {
        width: 50%;
    }
    .contact_content h2 {
        font-size: 20px;
    }
    .contact_content p {
        font-size: 15px;
    }
}

@media only screen and (max-width: 700px) {

    .sliders p {
        font-size: 10px;
    }
    
    .intro_title {
        width: 70%;
        font-size: 10px;
    }
    .intro_undertitle {
        font-size: 10px;
        width: 70%;
    }
    .booking_item {
       width: 50%;
    }
    .about_us_text {
        font-size: 6px;
        width: 70%;
    }
    
    .item_icon {
        width: 20px;
    }
    .item_text {
        font-size: 10px;
    }
    
    .footer_logo {
        font-size: 10px;
    }
    
    .footer_phone_number {
        font-size: 12px;
    }
}

@media only screen and (max-width: 620px) {
    .up_scroll {
        width: 14px;
        height: 14px;
    }

    .form {
        flex-direction: column;
    }

    .borts {
        width: 45%;
        font-size: 13px;
    }

    .strela {
        width: 45%;
        font-size: 13px;
    }

    .sliders {
        width: 70%;
        margin-bottom: 20px;
    }

    .sliders p {
        margin-bottom: 10px;
    }

    .price {
        top: 70%;
        font-size: 13px;
    }
    .booking_title {
        margin-bottom: 10px;
    }

    .booking_item {
        width: 60%;
    }
    .header_logo {
        width: 30%;
        font-size: 10px;
    }
    .header_contacts {
        display: flex;
        justify-content: space-between;
    }
    .email {
        margin-right: 30px;
    }
    .email a {
        display: none;
    }
    .email_icon {
        display: block;
    }
    .footer_phone_number {
        font-size: 8px;
    }
    .about_title {
        font-size: 8px;
    }
   
    .calc_btn {
        font-size: 10px;
    }

    
    .booking_inner {
        padding: 20px 0;
    }
    .intro_inner {
        padding-top: 100px;
    }
    .calculate {
        margin-bottom: 15px;
    }
    .footer_inner {
        padding: 20px 0;
    }
}

@media only screen and (max-width: 530px) {

   
    .phone_number {
        font-size: 10px;
        margin-left: 20px;
    }
    .intro_title {
        font-size: 8px;
    }
    .intro_undertitle {
        font-size: 7px;
    }
    .contact_us {
        width: 40%;
    }
    .contact_content h2 {
        font-size: 8px;
    }
    .contact_content p {
        font-size: 6px;
    }
    .contact_numbers {
        font-size: 8px;
    }
    .contact_content a {
        font-size: 8px;
    }

    .booking_item {
        width: 75%;
    }
    
    .footer_inner {
        justify-content: center;
    }
    .footer_logo {
        width: 25%;
    }
   
    .footer_phone_number {
        width: 25%;
        margin-left: 60px;
    }
}

@media only screen and (max-width: 420px) {
    .sliders p {
        font-size: 9px;
    }

    .price {
        font-size: 10px;
    }

    .borts {
        font-size: 11px;
    }

    .strela {
        font-size: 11px;
    }
    
    .header_logo {
        font-size: 5px;
        justify-content: start;
    }
    .logo {
        margin-right: 1px;
    }
    .booking_item {
        width: 90%;
    }
    .intro_title {
        width: 80%;
    }
    .intro_undertitle {
        width: 80%;
    }
    .intro_about_item {
        width: 40%;
    }
    .item_name {
        margin-bottom: 20px;
        font-size: 12px;
    }
    .phone_number {
        font-size: 5px;
    }
    .viber {
        width: 12px;
    }
    .whatsapp {
        width: 12px;
    }

}

@media only screen and (max-width: 353px) {

    .sliders p {
        font-size: 8px;
    }
    .intro_title {
        width: 100%;
        font-size: 7px;
    }
    .intro_undertitle {
        font-size: 7px;
        width: 100%;
    }
    .viber {
        margin: 0 5px;
    }
    .footer_logo {
        font-size: 8px;
    }
    .footer_phone_number {
        font-size: 8px;
    }

    .booking_item {
        width: 100%;
    }
}

@media only screen and (max-height: 760px) {
    .intro {
        height: auto;
    }

    .price {
        top: 80%;
    }
}



